html {
    background-color: rgb(1, 0, 63);
}

body {
    background-color: aliceblue;
    margin: 0;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

main {
    margin: 10px;
}

p {
    text-align: justify;
}