/* Footer styling */
footer {  
  bottom: 0; /* Align to the bottom of the viewport */
  width: 100%; /* Full width */
  height: 100px; /* Height of the footer */
  background-color: #86b0e2; /* Background color */
  display: flex; /* Flexbox layout */
  flex-direction: column; /* Column direction for flex items */
  justify-content: center; /* Center align items vertically */
  align-items: center; /* Center align items horizontally */
  padding-top: 20px; /* Top padding */
  z-index: 1; /* Ensure the footer is above other elements */
}

/* Paragraph styling within the footer */
footer p {
  font-size: 1.5em; /* Larger font size for readability */
}

/* Social media icons styling within the footer */
.social img {
  width: 30px; /* Width of the icons */
  margin: 4px; /* Margin around the icons */
}

/* Screens with width below 768px */
@media (max-width: 768px) {
  footer {
    position: fixed;
  }    
}

/* Screen with width between 768px and 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
  footer {
    position: fixed;
  }  
}

/* Screen with width between 1024px and 1440px */
@media (min-width: 1024px) and (max-width: 1440px) {
  footer {
    position: fixed;
  }  
}

/* Bigger than 1440px */
@media (min-width: 1440px) {
  footer {
    position: fixed;
  }  
}
