/* Styling for the main content area */
main {
  margin: 110px 0;
  padding: 20px;
}

/* Styling for embedded iframes */
iframe {
  width: 100%;
  height: 500px;
  margin-bottom: 50px;
}

/* General heading styles */
h1 {
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 0;
}

/* Styling for sections with introductory content */
.intro {
  margin-bottom: 50px;
}

.imgToLeft {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.imgToRight {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.noImg {
  width: 80%;
}

/* Specific styling for images with the class 'arco' */
.arco {
  width: 30%;
  height: 350px;
}

.me {
  width: 30%;
}

.description {
  width: 60%;
  margin-right: 20px;
}

.section {
  padding: 10px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 10px;
}

.contactForm {
  padding: 10px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  gap: 10px;  
}

.mainForm {
  height: 1000px;
}

/* Responsive grid layout for screens wider than 992px */
@media screen and (min-width: 992px) {
  section {
    grid-template-columns: auto auto auto;
  }
}

article {
  background: #edecff;
  padding: 20px;
  border-bottom: 4px solid #86b0e2;
  text-align: center;
  height: 150px;
}

article span {
  font-size: 40pt;
  font-weight: bold;
}

article p {
  margin: 0;
  font-size: 20pt;
}

.than {
  font-size: 20pt;
}

.textToRight {
  text-align: right;
  font-size: xx-large;
}

.mainText {
  font-size: 25px;
}

/* Styling for text input elements */
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 80%;
  padding: 12px;
  border: 1px solid #b25055;
  border-radius: 4px;
  resize: vertical;
}

select {
  width: 84%;
  padding: 12px;
  border: 1px solid #b25055;
  border-radius: 4px;
  resize: vertical;
}

.attachment {
  width: 80%;
  padding: 12px;
  border: 1px solid #b25055;
  border-radius: 4px;
  cursor: cell;
}

label {
  padding: 12px 12px 12px 0;
}

.button {
  background-color: #000000;
  color: white;
  padding: 12px 20px;
  margin: 5px;
  border: none;
  border-radius: 30%;
  cursor: pointer;
  float: right;
}

/* Hover effect for submit and reset buttons */
input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #86b0e2;
}

.container {
  border-radius: 5px;
  height: 400px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 10px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 10px;
}

.col-50 {
  float: left;
  width: 50%;
  margin-top: 10px;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.connect img {
  width: 60px;
  margin: 4px;
}

audio {
  background-color: #86b0e2;
  width: 100%;
  padding: 4px;
  z-index: 0;
}

/* Flexbox layout for elements with the class 'jogo' */
.jogo {
  width: 100%;
  min-width: 330px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;
}

.perguntas-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.pergunta {
  background-color: #86b0e2;
  border: 2px solid #b25055;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.respostas-container {
  width: 80%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 16px;
}

.resposta:disabled {
  cursor: not-allowed;
}

.proxima-pergunta {
  margin-top: 32px;
}

.button {
  background-color: #86b0e2;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #b25055;
  border-radius: 40%;
  height: 50px;
  padding: 0 40px;
  transition: filter 0.1s;
}

.button:not(:disabled):hover {
  filter: brightness(0.8);
}

.final-message {
  color: #ffffff;
  font-size: 30px;
  text-align: center;
}

.final-message span {
  color: #ffffff;
  display: block;
  margin-top: 8px;
  justify-content: center;
  align-items: center;
}

.esconder {
  display: none;
}

.correto {
  color: #09f56f;
}

.incorreto {
  color: #f81010;
}

button {
  cursor: pointer;
}

/* Styling for elements with the class 'botaoquiz' */
.botaoquiz {
  padding: 20px;
  font-size: 20pt;
  min-width: 200px;
}

#fundoperguntas {
  background-image: url("/assets/images/questions.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
  margin-bottom: 80px;
}

.botaoadivinhar {
  padding: 20px;
  font-size: 20pt;
  position: relative;
  top: 180px;
  min-width: 200px;
}

.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Styling for table elements */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0 60px 0;
  font-size: 18px;
  text-align: left;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Styling for table headers and cells */
th,
td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

/* Styling for table headers */
th {
  background-color: #768228;
  color: white;
}

/* Styling for even table rows */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Hover effect for table rows */
tr:hover {
  background-color: #e9f5e9;
}

/* General styling for table cells */
td {
  color: #333;
}
